.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 10%;
  background-color: var(--yellow);
  border: 2px solid black;
  font-size: 2rem;
}

